#menu
{
	position: absolute;
	width: 100%;
}

#menu ul 
{
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu li {
	margin-right: 5px;
	float: left;
	margin-top: 6px;
}

.topmenu
{	
	background-image:url('../images/topmenu.png');
	height: 41px;
}

#menu ul.left
{
	background-image:url('../images/topmenu_left.png');
	background-repeat: no-repeat;
	background-position: top left;
	height: 41px;
	
	position: absolute;
	left: 0px;
	
	padding-left: 15px;
}

#menu ul.right
{
	background-image:url('../images/topmenu_right.png');
	background-repeat: no-repeat;
	background-position: top right;
	height: 41px;
	
	position: absolute;
	right: 0px;
	
	padding-right: 15px;
}

#menu .center
{
	background-image:url('../images/topmenu_center.png');
	background-position: top center;
	background-repeat: no-repeat;

	z-index: 0;

	position: absolute;
	width: 186px;
	height: 60px;
	margin-left: -93px;
	left: 50%;
}

.topmenu span.left
{
	background-image:url('../images/topmenu_bottom_left.png');
	display: block;
	width: 33px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 41px;
}

.topmenu span.right
{
	background-image:url('../images/topmenu_bottom_right.png');
	display: block;
	width: 33px;
	height: 96px;
	position: absolute;
	right: 0px;
	top: 41px;
}

.topmenu ul.left li
{
	margin-top: 2px;
	margin-left: 3px;
}

.topmenu ul.right li
{
	margin-top: 2px;
	margin-right: 3px;
}

#menu li div
{
	display: none;
	
	position: absolute;
	
	top: 25px;
	left: auto;

	color: white;
	
	padding: 0px;
	
	clear: both;
	
	z-index: 50000;
	
	padding-top: 11px;
	
	width: 150px;
	height: 5px;
}

#menu ul.right li div
{
	margin-left: -120px;
}

#menu li ul li
{
	clear: both;
	margin: 0px;
	text-align: left;
	padding: 5px;
	background: black;
}

#menu li ul li.active a
{
	color: yellow;
}

#menu ul.right li ul
{
	clear: both;
	width: 150px;
}

#menu li ul li
{
	display: block;
	width: 150px;
}

#menu li ul li.title a
{
	color: yellow;
}

#menu li ul li a
{
	color: white;
	width: 150px;
}

#menu li ul li a:hover
{
	color: red;
}

#menu li:hover div, #menu li.over div
{ 
	display: block; 
}

div.newsbar
{
	bottom: 0px;
	left: 50%;
	margin-left: -287px;
	z-index: 2;
}

div.status
{
	left: 14px;
	top: 50px;
	background: none;
	z-index: 1;
}

#menu li ul li.important a
{
	color: #00ff00;
}

#menu li.credits
{
	margin: 0px;
}

#menu li.credits a
{
	display: block;
	padding: 4px 5px;
	margin: 7px 4px;
	border: 1px solid #ffd700;
	background: #8c7a51;
	text-decoration: none;
	color: #ffd700;
}

#menu li.credits a:hover
{
	background: #352e1e;
}